:host{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(12, 1fr); 
    gap: 1em 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."; 
    grid-area: l-toolbar; 
    // outline: 2px darkcyan solid;
}
